[submodule "bash/bash-git-prompt"]
	path = bash/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
