[submodule "bash/bash-git-prompt"]
	path = bash/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "_utils/yadm"]
	path = _utils/yadm
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule "config/profanity/plugins"]
	path = config/profanity/plugins
	url = https://github.com/profanity-im/profanity-plugins.git
[submodule "local/share/nvim/site/pack/packer/start/packer.nvim"]
	path = local/share/nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "zsh/fzf-zsh-plugin"]
	path = zsh/fzf-zsh-plugin
	url = git@github.com:unixorn/fzf-zsh-plugin.git
